<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'template-1.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Keeping well in pregnancy
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      
      <li class="nhsuk-breadcrumb__item">
          <a href="/" class="nhsuk-breadcrumb__link">Home</a>
        </li>
        
      <li class="nhsuk-breadcrumb__item">
          <a href="../pregnancy" class="nhsuk-breadcrumb__link">Pregnancy</a>
        </li>
        
      </ol>

      <p class="nhsuk-breadcrumb__back">
        
          <a href="../pregnancy" class="nhsuk-breadcrumb__backlink">
            <span class="nhsuk-u-visually-hidden">Back to </span>
            Pregnancy
          </a>
        
      </p>
    </div>
  </nav>
  
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


        <div class="nhsuk-u-reading-width">
    
        <h1>
            Keeping well in pregnancy
        </h1>
      
        <p class="nhsuk-lede-text">
        How to look after yourself and your baby while you're pregnant.
      </p>
    
        </div>
    
        <article>
    
          
    
          <section class="nhsuk-u-reading-width">
            <ul class="nhsuk-hub-key-links beta-hub-key-links">
              
              <div class="nhsuk-u-margin-bottom-6">
                <h2 class="nhsuk-u-margin-bottom-0">Diet and exercise</h2>
                <ul class="nhsuk-hub-key-links beta-hub-key-links">
                
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a href="keeping-well/diet-and-exercise/have-a-healthy-diet">
                      Have a healthy diet in pregnancy
                    </a>
                  </li>
                
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a href="keeping-well/diet-and-exercise/vegetarian-or-vegan-and-pregnant">
                      Vegetarian or vegan and pregnant
                    </a>
                  </li>
                
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a href="keeping-well/diet-and-exercise/foods-to-avoid">
                      Foods to avoid in pregnancy
                    </a>
                  </li>
                
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a href="keeping-well/diet-and-exercise/vitamins-supplements-and-nutrition">
                      Vitamins, supplements and nutrition in pregnancy
                    </a>
                  </li>
                
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a href="keeping-well/diet-and-exercise/exercise">
                      Exercise in pregnancy
                    </a>
                  </li>

                </ul>
              </div>


              <div class="nhsuk-u-margin-bottom-6">
                <h2 class="nhsuk-u-margin-bottom-0">Mental health</h2>
                <ul class="nhsuk-hub-key-links beta-hub-key-links">
                
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a href="keeping-well/mental-health/mental-health">
                      Mental health in pregnancy
                    </a>
                  </li>
                
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a href="keeping-well/mental-health/depression">
                      Depression in pregnancy
                    </a>
                  </li>
                  
                </ul>
              </div>


              <div class="nhsuk-u-margin-bottom-6">
                <h2 class="nhsuk-u-margin-bottom-0">Lifestyle changes</h2>
                <ul class="nhsuk-hub-key-links beta-hub-key-links">
               
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a href="keeping-well/lifestyle-changes/sex">
                      Sex in pregnancy
                    </a>
                  </li>
                
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a href="keeping-well/lifestyle-changes/travelling">
                      Travelling in pregnancy
                    </a>
                  </li>
                
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a href="keeping-well/lifestyle-changes/your-health-at-work">
                      Work and pregnancy
                    </a>
                  </li>

                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a href="keeping-well/lifestyle-changes/drinking-alcohol-while-pregnant">
                      Drinking alcohol while pregnant
                    </a>
                  </li>
                
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a href="keeping-well/lifestyle-changes/stop-smoking">
                      Stop smoking in pregnancy
                    </a>
                  </li>
                
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a href="keeping-well/lifestyle-changes/illegal-drugs">
                      Illegal drugs in pregnancy
                    </a>
                  </li>
                  
                </ul>
              </div>



              <div class="nhsuk-u-margin-bottom-6">
                <h2 class="nhsuk-u-margin-bottom-0">Looking after your baby</h2>
                <ul class="nhsuk-hub-key-links beta-hub-key-links">
                
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a href="keeping-well/looking-after-your-baby/your-babys-movements">
                      Your baby's movements
                    </a>
                  </li>
                
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a href="keeping-well/looking-after-your-baby/reducing-the-risk-of-stillbirth">
                      Reducing the risk of stillbirth
                    </a>
                  </li>

                </ul>
              </div>


              <div class="nhsuk-u-margin-bottom-6">
                <h2 class="nhsuk-u-margin-bottom-0">Infections and illnesses</h2>
                <ul class="nhsuk-hub-key-links beta-hub-key-links">
                
                 
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a href="keeping-well/infections-and-illnesses/pregnancy-and-covid-19">
                      Pregnancy and coronavirus (COVID-19)
                    </a>
                  </li>

                                  
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a href="keeping-well/infections-and-illnesses/infections-that-may-affect-your-baby">
                      Infections in pregnancy that may affect your baby
                    </a>
                  </li>
                  
                </ul>
              </div>


              <div class="nhsuk-u-margin-bottom-6">
                <h2 class="nhsuk-u-margin-bottom-0">Medicines and vaccinations</h2>
                <ul class="nhsuk-hub-key-links beta-hub-key-links">
                
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a href="keeping-well/medicines-and-vaccinations/medicines">
                      Medicines in pregnancy
                    </a>
                  </li>
                  
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a href="keeping-well/medicines-and-vaccinations/vaccinations">
                      Vaccinations in pregnancy
                    </a>
                  </li>

                
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a href="keeping-well/medicines-and-vaccinations/flu-jab">
                      The flu jab in pregnancy
                    </a>
                  </li>
                
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a href="keeping-well/medicines-and-vaccinations/whooping-cough-vaccination">
                      Whooping cough vaccination in pregnancy
                    </a>
                  </li>



                </ul>
              </div>



              
              
            </ul>
          </section>
        
      
    
      <div class="nhsuk-u-reading-width nhsuk-u-margin-top-6 nhsuk-hub-after-key-links">
        
      </div>
    
      
    
    
    
        </article>
    

{% endblock %}
