<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'template-1.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Your baby's movements
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      
      <li class="nhsuk-breadcrumb__item">
        <a href="/" class="nhsuk-breadcrumb__link">Home</a>
      </li>
        
      <li class="nhsuk-breadcrumb__item">
        <a href="../../pregnancy" class="nhsuk-breadcrumb__link">Pregnancy</a>
        </li>
        
      <li class="nhsuk-breadcrumb__item">
        <a href="../keeping-well" class="nhsuk-breadcrumb__link">Keeping well in pregnancy</a>
      </li>
        
      </ol>
      
      <p class="nhsuk-breadcrumb__back">
        
        <a href="../keeping-well" class="nhsuk-breadcrumb__backlink">
          <span class="nhsuk-u-visually-hidden">Back to </span>
          Keeping well in pregnancy
        </a>
      
      </p>
    </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
        
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      
  <h1>
    
      Your baby's movements
    
  </h1>


    </div>
  </div>

  <article>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        
  
    


  <section>

    
    
      <h2>When you'll feel your baby move</h2>
    

    
      
        
          



    <p data-block-key="7ham0">You should start to feel your baby move between around 16 to 24 weeks of pregnancy. If this is your first baby, you might not feel movements until after 20 weeks.</p><p data-block-key="9x8y8">If you have not felt your baby move by 24 weeks, tell your midwife. They'll check your baby's heartbeat and movements.</p><p data-block-key="onype">You should feel your baby move right up to and during labour.</p><p data-block-key="rzsxs">Other people cannot feel your baby move as early as you can. When they can feel the movements, by putting a hand on your bump, is different for everyone.</p>

        
      
    
  </section>


  
    


  <section>

    
    
      <h2>What your baby's movements feel like</h2>
    

    
      
        
          



    <p data-block-key="jx7o1">The movements can feel like a gentle swirling or fluttering. As your pregnancy progresses, you may feel kicks and jerky movements.</p>

        
      
    
  </section>


  
    


  <section>

    

    
      
        
          


<div class="nhsuk-card nhsuk-card--care nhsuk-card--care--urgent">
  <div class="nhsuk-card--care__heading-container">
    <h2 class="nhsuk-card--care__heading">
      <span role="text">
        <span class="nhsuk-u-visually-hidden">Urgent advice: </span>Call your midwife or maternity unit immediately if:
      </span>
    </h2>
    <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
  </div>
  <div class="nhsuk-card__content">
    
      
        
          



    <ul><li data-block-key="fduuz">your baby is moving less than usual</li><li data-block-key="9o30x">you cannot feel your baby moving anymore</li><li data-block-key="ma95n">there is a change to your baby's usual pattern of movements</li></ul><p data-block-key="vjpba">They'll need to check your baby's movements and heartbeat.</p><p data-block-key="5e9jz">Do not wait until the next day – call immediately, even if it's the middle of the night.</p>

        
      
    
    
  </div>
</div>

        
      
    
  </section>


  
    


  <section>

    
    
      <h2>How often should your baby move?</h2>
    

    
      
        
          



    <p data-block-key="r1zxr">There's no set number of movements you should feel each day – every baby is different.</p><p data-block-key="0f24y">You do not need to count the number of kicks or movements you feel each day.</p><p data-block-key="ft5nu">The important thing is to get to know your baby's usual movements from day to day.</p>

        
      
    
  </section>


  
    


  <section>

    

    
      
        
          

<div class="nhsuk-warning-callout">
  <h3 class="nhsuk-warning-callout__label">
    
      Important
    
  </h3>
  
    <p data-block-key="nwwiv">Do not use a home doppler (heartbeat listening kit) to try to check the baby's heartbeat yourself. This is not a reliable way to check your baby's health. Even if you hear a heartbeat, this does not mean your baby is well.</p>
  
</div>

        
      
    
  </section>


  
    


  <section>

    
    
      <h2>Why your baby's movements are important</h2>
    

    
      
        
          



    <p data-block-key="z8yno">If your baby is not well, they will not be as active as usual. This means less movement can be a sign of infection or another problem.</p><p data-block-key="f9ibs">The sooner this is found out the better, so you and your baby can be given the right treatment and care.</p><p data-block-key="uepox">This could save your baby's life.</p>

        
      
    
  </section>


  
    


  <section>

    
    
      <h2>Can your baby move too much</h2>
    

    
      
        
          



    <p data-block-key="zhj6d">It's not likely your baby can move too much. The important thing is to be aware of your baby's usual pattern of movements.</p><p data-block-key="t5mpn">Any changes to this pattern of movements should be checked by a midwife or doctor.</p>

        
      
    
  </section>


  
    


  <section>

    

    
      
        
          



    <h2 data-block-key="5sqcd">Find out more</h2><ul><li data-block-key="46h70"><a href="https://www.tommys.org/pregnancy-information/pregnancy-symptom-checker/baby-fetal-movements">Tommy’s: baby movements in pregnancy</a></li><li data-block-key="2mia2"><a href="https://www.rcog.org.uk/en/patients/patient-leaflets/your-babys-movements-in-pregnancy/">Royal College of Obstetricians and Gynaecologists: your baby’s movements in pregnancy</a></li><li data-block-key="8qfnf"><a href="/pregnancy/labour-and-birth/signs-of-labour/signs-that-labour-has-begun/">signs that labour may be starting</a></li></ul>

        
      
    
  </section>


  
    



  


      </div>

      

    </div>
  </article>

  

  
    <aside class="nhsuk-grid-column">
      <div id="sibling-nav" class="beta-hub-sibling-nav nhsuk-u-padding-top-5">
        <h2 class="nhsuk-u-font-size-24 nhsuk-u-padding-bottom-3">
          More in
          
            <a href="../keeping-well">Keeping well in pregnancy</a>
          
        </h2>
        <nav role="navigation" class="beta-nhsuk-navigation-sideways">
          <ul class="beta-nhsuk-navigation-sideways__list">
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="have-a-healthy-diet">
                    Have a healthy diet in pregnancy
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="vegetarian-or-vegan-and-pregnant">
                    Vegetarian or vegan and pregnant
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="foods-to-avoid">
                    Foods to avoid in pregnancy
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="vitamins-supplements-and-nutrition">
                    Vitamins, supplements and nutrition in pregnancy
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="exercise">
                    Exercise in pregnancy
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="medicines">
                    Medicines in pregnancy
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="mental-health">
                    Mental health in pregnancy
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="depression">
                    Depression in pregnancy
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="sex">
                    Sex in pregnancy
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="travelling">
                    Travelling in pregnancy
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="your-health-at-work">
                    Work and pregnancy
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item is-active" aria-current="true">
                  Your baby's movements
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="reducing-the-risk-of-stillbirth">
                    Reducing the risk of stillbirth
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="drinking-alcohol-while-pregnant">
                    Drinking alcohol while pregnant
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="stop-smoking">
                    Stop smoking in pregnancy
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="illegal-drugs">
                    Illegal drugs in pregnancy
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="vaccinations">
                    Vaccinations in pregnancy
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="flu-jab">
                    The flu jab in pregnancy
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="whooping-cough-vaccination">
                    Whooping cough vaccination in pregnancy
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="infections-that-may-affect-your-baby">
                    Infections in pregnancy that may affect your baby
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="pregnancy-and-covid-19">
                    Pregnancy and COVID-19
                  </a>
                </li>
              
            
          </ul>
        </nav>
      </div>
    </aside>
  

  <div>
    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
      Page last reviewed: 12 October 2021
      <br>
      Next review due: 12 October 2024
    </p>
  </div>

  


{% endblock %}
