<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'template-1.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Physical activity guidelines for children and young people
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      
      <li class="nhsuk-breadcrumb__item">
          <a href="/" class="nhsuk-breadcrumb__link">Home</a>
        </li>
        
      <li class="nhsuk-breadcrumb__item">
          <a href="../../../live-well" class="nhsuk-breadcrumb__link">Live Well</a>
        </li>
        
      <li class="nhsuk-breadcrumb__item">
          <a href="../../exercise" class="class="nhsuk-breadcrumb__link>Exercise</a>
        </li>
        
        
      </ol>

      <p class="nhsuk-breadcrumb__back">
        
          <a href="../exercise-guidelines" class="nhsuk-breadcrumb__backlink">
            <span class="nhsuk-u-visually-hidden">Back to </span>
            Exercise guidelines
          </a>
        
      </p>
    </div>
</nav>
  
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
        
        
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      
  <h1>
    
      Physical activity guidelines for children and young people
    
  </h1>


    </div>
  </div>

  <article>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        
  
    


  <section>

    

    
      
        
          



    <p data-block-key="4lbpp"><b>How much physical activity should children and young people aged&nbsp;5 to 18&nbsp;do to keep healthy?</b></p><p data-block-key="ig0gn">Children and young people need to do&nbsp;2 types of physical activity each week:</p><ul><li data-block-key="cffg2">aerobic exercise</li><li data-block-key="ejxi9">exercises to strengthen their muscles and bones</li></ul>

        
      
    
  </section>


  
    


  <section>

    

    
      
        
          



    <p data-block-key="x2nk0">Children and young people aged 5 to 18 should:</p><ul><li data-block-key="0u2gd">aim for an average of at least 60 minutes of moderate or vigorous intensity physical activity a day across the week</li><li data-block-key="kfyvs">take part in a variety of types and intensities of physical activity across the week to develop movement skills, muscles and bones</li><li data-block-key="m37ce">reduce the time spent sitting or lying down and break up long periods of not moving with some activity. Aim to spread activity throughout the day</li></ul>

        
      
    
  </section>


  
    


  <section>

    

    
      
        
          



    <h2 data-block-key="iacn6">What counts as moderate activity?</h2><p data-block-key="it3pd">Moderate intensity activities will raise your heart rate, and make you breathe faster and feel warmer.</p><p data-block-key="6v7hz">One way to tell if you're working at a moderate intensity level is if you can still talk, but not sing.</p><p data-block-key="aqivc">Children and young people should do a range of different activities across the week.</p><p data-block-key="adgyo">Examples include:</p><ul><li data-block-key="h81bz">walking to school or walking the dog</li><li data-block-key="ajbsj">playground activities, including jumping, running and catching</li><li data-block-key="475rv">physical education</li><li data-block-key="a4cuj">sports, like football or tennis</li><li data-block-key="73d60">swimming</li><li data-block-key="knvg">skipping</li><li data-block-key="67tf4">dancing</li><li data-block-key="ooxvj">skateboarding or rollerblading</li><li data-block-key="i5ro2">cycling</li></ul>

        
      
    
  </section>


  
    


  <section>

    

    
      
        
          



    <h2 data-block-key="y41y2">What activities strengthen muscles and bones?</h2><p data-block-key="urq3g">Examples include:</p><ul><li data-block-key="iywzn">gymnastics</li><li data-block-key="a0tak">football</li><li data-block-key="6jjhh">jumping</li><li data-block-key="2pggg">martial arts</li><li data-block-key="fua0i">sit-ups, press-ups and other similar exercises (for young people)</li><li data-block-key="bixnh">resistance exercises with exercise bands, weight machines or handheld weights (for young people)</li></ul>

        
      
    
  </section>


  
    


  <section>

    
    
      <h2>Exercising safely</h2>
    

    
      
        
          



    <p data-block-key="676x0">Children and young people should:</p><ul><li data-block-key="2l6j3">get medical advice about exercising if they have a health condition</li><li data-block-key="tl4h">do exercise that is suitable for their age, ability and experience</li><li data-block-key="15u4n">start any new exercise slowly and increase it bit by bit</li><li data-block-key="235hr">use protective equipment, for example for cycling and skateboarding</li></ul><p data-block-key="8ojo2">Young people can use weights for resistance exercise if a qualified adult trains them to use weights correctly and supervises them.</p>

        
      
    
  </section>


  
    


  <section>

    

    
      
        
          



    <h2 data-block-key="bjurv">Physical activity recommendation for other age groups:</h2><ul><li data-block-key="p87nj"><a href="/live-well/exerciseexercise-guidelines/physical-activity-guidelines-children-under-five-years/">Physical activity guidelines for children under&nbsp;5 years</a></li><li data-block-key="osfyy"><a href="/live-well/exerciseexercise-guidelines/physical-activity-guidelines-for-adults-aged-19-to-64/">Physical activity guidelines for adults aged 19 to 64</a></li><li data-block-key="mtz4c"><a href="/live-well/exerciseexercise-guidelines/physical-activity-guidelines-older-adults/">Physical activity guidelines for older adults (aged 65 and over)</a></li></ul><p data-block-key="ctg79"><a href="https://www.gov.uk/government/publications/physical-activity-guidelines-infographics">GOV.UK has infographics on physical activity for children and young people</a></p>

        
      
    
  </section>


  


      </div>

      

    </div>
  </article>



  
    <aside class="nhsuk-grid-column">
      <div id="sibling-nav" class="beta-hub-sibling-nav nhsuk-u-padding-top-5">
        <h2 class="nhsuk-u-font-size-24 nhsuk-u-padding-bottom-3">
          More in
            <a href="../../exercise">Exercise guidelines</a>
        </h2>

        <h3 class="nhsuk-heading-s">Why exercise is important</h3>
        <nav role="navigation" class="beta-nhsuk-navigation-sideways">
          <ul class="beta-nhsuk-navigation-sideways__list">
            
            <li class="beta-nhsuk-navigation-sideways__item">
              <a href="../exercise-health-benefits">
                Benefits of exercise
              </a>
            </li>

            <li class="beta-nhsuk-navigation-sideways__item">
              <a href="../exercise-guidelines/why-sitting-too-much-is-bad-for-us">
                Why we should sit less
              </a>
            </li>


          </ul>
        </nav>

        <h3 class="nhsuk-heading-s">Exercise guidelines</h3>
        <nav role="navigation" class="beta-nhsuk-navigation-sideways">
          <ul class="beta-nhsuk-navigation-sideways__list">
          
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="../exercise-guidelines/physical-activity-guidelines-for-adults-aged-19-to-64">
                    Physical activity guidelines for adults aged 19 to 64
                  </a>
                </li>
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="../exercise-guidelines/physical-activity-guidelines-older-adults">
                    Physical activity guidelines for older adults
                  </a>
                </li>
                            
                <li class="beta-nhsuk-navigation-sideways__item is-active" aria-current="true">
                    Physical activity guidelines for children and young people
                </li>
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="../exercise-guidelines/physical-activity-guidelines-children-under-five-years">
                    Physical activity guidelines for children (under 5 years)
                  </a>
                </li>
                            
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="../exercise-guidelines/why-sitting-too-much-is-bad-for-us">
                    Why we should sit less
                  </a>
                </li>
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="../exercise-guidelines/wheelchair-users-fitness-advice">
                    Fitness advice for wheelchair users
                  </a>
                </li>
            
          </ul>
        </nav>


        <h3 class="nhsuk-heading-s">Strength and flexibility exercises</h3>
        <nav role="navigation" class="beta-nhsuk-navigation-sideways">
          <ul class="beta-nhsuk-navigation-sideways__list">
  
          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../strength-and-flexibility-exercises/how-to-improve-strength-flexibility">
              How to improve your strength and flexibility
            </a>
          </li>

          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../strength-and-flexibility-exercises/strength-and-flex-exercise-plan-how-to-videos">
              Strength and Flex exercise plan: How-to videos
            </a>
          </li>
        
          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../strength-and-flexibility-exercises/balance-exercises">
              Balance exercises
            </a>
          </li>

          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../strength-and-flexibility-exercises/flexibility-exercises">
              Flexibility exercises
            </a>
          </li>
        
          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../strength-and-flexibility-exercises/sitting-exercises">
              Sitting exercises
            </a>
          </li>
        
          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../strength-and-flexibility-exercises/strength-exercises">
              Strength exercises
            </a>
          </li>
        
          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../strength-and-flexibility-exercises/exercises-sciatica-problems">
              Exercises for sciatica problems
            </a>
          </li>

          </ul>
        </nav>


        <h3 class="nhsuk-heading-s">Running and aerobic exercises</h3>
        <nav role="navigation" class="beta-nhsuk-navigation-sideways">
          <ul class="beta-nhsuk-navigation-sideways__list">
        
            <li class="beta-nhsuk-navigation-sideways__item">
              <a href="../running-and-aerobic-exercises/get-running-with-couch-to-5k">
                  Get running with Couch to 5K
                </a>
              </li>
              
              <li class="beta-nhsuk-navigation-sideways__item">
                <a href="../running-and-aerobic-exercises/walking-for-health">
                  Walking for health
                </a>
              </li>
              
              <li class="beta-nhsuk-navigation-sideways__item">
                <a href="../running-and-aerobic-exercises/how-to-warm-up-before-exercising">
                  How to warm up before exercising
                </a>
              </li>
              
              <li class="beta-nhsuk-navigation-sideways__item">
                <a href="../running-and-aerobic-exercises/how-to-stretch-after-exercising">
                  How to stretch after exercising
                </a>
              </li>
              
              <li class="beta-nhsuk-navigation-sideways__item">
                <a href="../running-and-aerobic-exercises/knee-exercises-for-runners">
                  Knee exercises for runners
                </a>
              </li>
              
              <li class="beta-nhsuk-navigation-sideways__item">
                <a href="../running-and-aerobic-exercises/knee-pain-and-other-running-injuries">
                  Knee pain and other running injuries
                </a>
              </li>
          </ul>
        </nav>
      </div>
    </aside>
  

  <div>
    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
      Page last reviewed: 12 November 2021
      <br>
      Next review due: 12 November 2024
    </p>
  </div>

  

{% endblock %}
