<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'template-1.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Knee exercises for runners
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      
      <li class="nhsuk-breadcrumb__item">
          <a href="/" class="nhsuk-breadcrumb__link">Home</a>
        </li>
        
      <li class="nhsuk-breadcrumb__item">
          <a href="../../../live-well" class="nhsuk-breadcrumb__link">Live Well</a>
        </li>
        
      <li class="nhsuk-breadcrumb__item">
          <a href="../exercise-guidelines" class="nhsuk-breadcrumb__link">Exercise</a>
        </li>
        
      <li class="nhsuk-breadcrumb__item">
          <a href="../running-and-aerobic-exercises" class="nhsuk-breadcrumb__link">Running and aerobic exercises</a>
        </li>
        
        
      </ol>

      <p class="nhsuk-breadcrumb__back">
        
        <a href="../../exercise" class="nhsuk-breadcrumb__backlink">
          <span class="nhsuk-u-visually-hidden">Back to </span>
          Exercise
        </a>
      
      </p>
    </div>
</nav>
  
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
        

<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">


<h1>

Knee exercises for runners

</h1>


</div>
</div>

<article>
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

  




<section>





  
    



<p data-block-key="zhhz5"><b>These knee-strengthening exercises will help with your running, strengthen the muscles around the knee and prevent knee pain.</b></p><p data-block-key="ftrky">The&nbsp;exercises&nbsp;strengthen all the muscles supporting the knee and stretch out the iliotibial band, known as the ITB, which runs down the outside of the thigh.</p><p data-block-key="xm85j">They&nbsp;can be done as part&nbsp;of your warm-up before a run or as a&nbsp;cool-down routine after a run, outside or indoors, or whenever is most&nbsp;convenient.</p><p data-block-key="l90ab">Typically, you should start to see some benefits after 2 weeks of doing these knee exercises every day.</p><p data-block-key="vg0kw">You should not feel any pain when doing these exercises. If you do, stop immediately and seek medical advice. These exercises are not suitable for people with an existing knee injury.</p>

  


</section>






<section>





  
    



<h2 data-block-key="rnnx2">Knee bends – 3 sets of 10 repetitions (reps)</h2>

  



  
    












<figure class="nhsuk-image">
<img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_knee-bends_1.width-320.jpg" sizes="
(min-width: 1020px) 320px
(min-width: 768px) 50vw
100vw
" srcset="
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_knee-bends_1.width-320.jpg 320w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_knee-bends_1.width-510.jpg 510w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_knee-bends_1.width-640.jpg 640w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_knee-bends_1.width-767.jpg 767w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_knee-bends_1.width-1019.jpg 1019w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_knee-bends_1.width-1125.jpg 1125w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_knee-bends_1.width-1534.jpg 1534w,
" alt="Knee bends starting position">

<figcaption class="nhsuk-image__caption">
Stand a foot away from a wall with your knees hip-width apart and your feet pointing slightly outwards
</figcaption>



</figure>

  



  
    












<figure class="nhsuk-image">
<img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_knee-bends_2.width-320.jpg" sizes="
(min-width: 1020px) 320px
(min-width: 768px) 50vw
100vw
" srcset="
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_knee-bends_2.width-320.jpg 320w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_knee-bends_2.width-510.jpg 510w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_knee-bends_2.width-640.jpg 640w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_knee-bends_2.width-767.jpg 767w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_knee-bends_2.width-1019.jpg 1019w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_knee-bends_2.width-1125.jpg 1125w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_knee-bends_2.width-1534.jpg 1534w,
" alt="Knee bends lowered position">

<figcaption class="nhsuk-image__caption">
Slide your back down the wall by slowly bending your knees. Do not let your knees go past your toes. Let the knees point in the same direction as your toes. As you come up, focus on tensing the&nbsp;muscle above your knee and your buttocks
</figcaption>



</figure>

  



  
    



<p data-block-key="1ryn0"><b>Tip:</b> place an exercise ball between your back and the wall for smooth movement</p>

  


</section>






<section>





  
    



<h2 data-block-key="phamk">Thigh contraction – 3 sets of 15 seconds with each leg</h2>

  



  
    












<figure class="nhsuk-image">
<img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_thigh-contraction_01.width-320.jpg" sizes="
(min-width: 1020px) 320px
(min-width: 768px) 50vw
100vw
" srcset="
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_thigh-contraction_01.width-320.jpg 320w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_thigh-contraction_01.width-510.jpg 510w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_thigh-contraction_01.width-640.jpg 640w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_thigh-contraction_01.width-767.jpg 767w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_thigh-contraction_01.width-1019.jpg 1019w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_thigh-contraction_01.width-1125.jpg 1125w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_thigh-contraction_01.width-1534.jpg 1534w,
" alt="Thigh contraction starting position">

<figcaption class="nhsuk-image__caption">
Sit up straight on a chair. Slowly straighten and raise your right leg until straight with your foot pointing slightly outwards
</figcaption>



</figure>

  



  
    












<figure class="nhsuk-image">
<img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_thigh-contraction_02.width-320.jpg" sizes="
(min-width: 1020px) 320px
(min-width: 768px) 50vw
100vw
" srcset="
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_thigh-contraction_02.width-320.jpg 320w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_thigh-contraction_02.width-510.jpg 510w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_thigh-contraction_02.width-640.jpg 640w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_thigh-contraction_02.width-767.jpg 767w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_thigh-contraction_02.width-1019.jpg 1019w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_thigh-contraction_02.width-1125.jpg 1125w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_thigh-contraction_02.width-1534.jpg 1534w,
" alt="Thigh contraction leg raised">

<figcaption class="nhsuk-image__caption">
Squeeze your right thigh muscles and hold this position for 15 seconds. For the exercise to be effective, you should keep tensing the muscle&nbsp;above your knee.&nbsp; Repeat with the other leg
</figcaption>



</figure>

  



  
    



<p data-block-key="dnjld"><b>Tip:</b> for more of a challenge, perform with an ankle weight</p>

  


</section>






<section>





  
    



<h2 data-block-key="wpf2m">Straight leg raises&nbsp;– 3 sets of 10 reps with each leg</h2>

  



  
    












<figure class="nhsuk-image">
<img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_straight-leg-raises_1.width-320.jpg" sizes="
(min-width: 1020px) 320px
(min-width: 768px) 50vw
100vw
" srcset="
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_straight-leg-raises_1.width-320.jpg 320w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_straight-leg-raises_1.width-510.jpg 510w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_straight-leg-raises_1.width-640.jpg 640w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_straight-leg-raises_1.width-767.jpg 767w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_straight-leg-raises_1.width-1019.jpg 1019w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_straight-leg-raises_1.width-1125.jpg 1125w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_straight-leg-raises_1.width-1534.jpg 1534w,
" alt="Straight leg raises starting position">

<figcaption class="nhsuk-image__caption">
Sit up straight on a chair. Straighten and raise your left leg until horizontal, with your foot pointing slightly outwards
</figcaption>



</figure>

  



  
    












<figure class="nhsuk-image">
<img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_straight-leg-raises_2.width-320.jpg" sizes="
(min-width: 1020px) 320px
(min-width: 768px) 50vw
100vw
" srcset="
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_straight-leg-raises_2.width-320.jpg 320w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_straight-leg-raises_2.width-510.jpg 510w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_straight-leg-raises_2.width-640.jpg 640w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_straight-leg-raises_2.width-767.jpg 767w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_straight-leg-raises_2.width-1019.jpg 1019w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_straight-leg-raises_2.width-1125.jpg 1125w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_straight-leg-raises_2.width-1534.jpg 1534w,
" alt="Straight leg raises fully raised leg position">

<figcaption class="nhsuk-image__caption">
Keeping your leg raised, move your leg up and down 10 times&nbsp;while maintaining the contraction&nbsp;in the muscle above the knee. While doing this exercise, do not let your raised foot touch the floor. Repeat with the other leg
</figcaption>



</figure>

  



  
    



<p data-block-key="xqtb0"><b>Tip:</b> for more of a challenge, perform with an ankle weight</p>

  


</section>






<section>





  
    



<h2 data-block-key="c5lva">Hamstring stretch with thigh contraction&nbsp;– 3 sets of 15 seconds with each leg</h2>

  



  
    












<figure class="nhsuk-image">
<img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_hamstring-stretch-thigh_1.width-320.jpg" sizes="
(min-width: 1020px) 320px
(min-width: 768px) 50vw
100vw
" srcset="
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_hamstring-stretch-thigh_1.width-320.jpg 320w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_hamstring-stretch-thigh_1.width-510.jpg 510w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_hamstring-stretch-thigh_1.width-640.jpg 640w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_hamstring-stretch-thigh_1.width-767.jpg 767w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_hamstring-stretch-thigh_1.width-1019.jpg 1019w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_hamstring-stretch-thigh_1.width-1125.jpg 1125w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_hamstring-stretch-thigh_1.width-1534.jpg 1534w,
" alt="Hamstring stretch starting position">

<figcaption class="nhsuk-image__caption">
Sit on the edge of a chair. Keep your right leg bent and straighten your left leg, placing the left heel on the ground&nbsp;with your foot pointing slightly outwards
</figcaption>



</figure>

  



  
    












<figure class="nhsuk-image">
<img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_hamstring-stretch-thigh_2.width-320.jpg" sizes="
(min-width: 1020px) 320px
(min-width: 768px) 50vw
100vw
" srcset="
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_hamstring-stretch-thigh_2.width-320.jpg 320w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_hamstring-stretch-thigh_2.width-510.jpg 510w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_hamstring-stretch-thigh_2.width-640.jpg 640w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_hamstring-stretch-thigh_2.width-767.jpg 767w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_hamstring-stretch-thigh_2.width-1019.jpg 1019w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_hamstring-stretch-thigh_2.width-1125.jpg 1125w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_hamstring-stretch-thigh_2.width-1534.jpg 1534w,
" alt="Hamstring stretch leaning position">

<figcaption class="nhsuk-image__caption">
Bend towards your left leg to stretch your hamstring while tensing&nbsp;the muscle&nbsp;above your knee&nbsp;at the same time.&nbsp;Repeat with other leg
</figcaption>



</figure>

  



  
    



<p data-block-key="qqgls"><b>Tip:</b> keep your back straight and bend from the hips, you can do the move looking straight ahead or looking straight down</p>

  


</section>






<section>





  
    



<h2 data-block-key="dnw54">ITB (iliotibial band)&nbsp;– 3 sets of 15 seconds with each leg</h2>

  



  
    












<figure class="nhsuk-image">
<img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_ITB_stretch_1.width-320.jpg" sizes="
(min-width: 1020px) 320px
(min-width: 768px) 50vw
100vw
" srcset="
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_ITB_stretch_1.width-320.jpg 320w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_ITB_stretch_1.width-510.jpg 510w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_ITB_stretch_1.width-640.jpg 640w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_ITB_stretch_1.width-767.jpg 767w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_ITB_stretch_1.width-1019.jpg 1019w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_ITB_stretch_1.width-1125.jpg 1125w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_ITB_stretch_1.width-1534.jpg 1534w,
" alt="Iliotibial band stretch">

<figcaption class="nhsuk-image__caption">
To stretch your right ITB, cross your right leg behind your left leg
</figcaption>



</figure>

  



  
    












<figure class="nhsuk-image">
<img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_ITB_stretch_2.width-320.jpg" sizes="
(min-width: 1020px) 320px
(min-width: 768px) 50vw
100vw
" srcset="
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_ITB_stretch_2.width-320.jpg 320w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_ITB_stretch_2.width-510.jpg 510w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_ITB_stretch_2.width-640.jpg 640w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_ITB_stretch_2.width-767.jpg 767w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_ITB_stretch_2.width-1019.jpg 1019w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_ITB_stretch_2.width-1125.jpg 1125w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_ITB_stretch_2.width-1534.jpg 1534w,
" alt="Iliotibial band stretch side view">

<figcaption class="nhsuk-image__caption">
Keeping both feet on the ground, lean to your left side and push your right hip outwards
</figcaption>



</figure>

  



  
    



<p data-block-key="l32io"><b>Tip:</b> do not bend forwards or stick your buttocks out. You should feel the stretch along your outer right thigh and hip</p>

  


</section>






<section>





  
    



<h2 data-block-key="tkaly">Squats&nbsp;– 3 sets of 10 reps</h2>

  



  
    












<figure class="nhsuk-image">
<img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_squats_1.width-320_Rfg0rBg.jpg" sizes="
(min-width: 1020px) 320px
(min-width: 768px) 50vw
100vw
" srcset="
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_squats_1.width-320_Rfg0rBg.jpg 320w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_squats_1.width-510_twttQyD.jpg 510w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_squats_1.width-640_IMKn7fH.jpg 640w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_squats_1.width-767_4BbpA1w.jpg 767w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_squats_1.width-1019_UCzKn5L.jpg 1019w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_squats_1.width-1125_ztnJHO0.jpg 1125w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_squats_1.width-1534_wAv6BkA.jpg 1534w,
" alt="Squats starting position">

<figcaption class="nhsuk-image__caption">
Stand with your feet shoulder-width apart, feet pointing slightly outwards and your hands down by your sides or stretched out in front for extra balance
</figcaption>



</figure>

  



  
    












<figure class="nhsuk-image">
<img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_squats_2.width-320_yknCUGO.jpg" sizes="
(min-width: 1020px) 320px
(min-width: 768px) 50vw
100vw
" srcset="
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_squats_2.width-320_yknCUGO.jpg 320w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_squats_2.width-510_xgCU345.jpg 510w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_squats_2.width-640_8UtzDNt.jpg 640w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_squats_2.width-767_KYEeUQh.jpg 767w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_squats_2.width-1019_lecxu2H.jpg 1019w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_squats_2.width-1125_VxVUTiO.jpg 1125w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_squats_2.width-1534_cg4JlbO.jpg 1534w,
" alt="Squats lowered position">

<figcaption class="nhsuk-image__caption">
Lower yourself by bending your knees to&nbsp;no more than a right angle. Keep your back straight and do not let your knees go past your toes
</figcaption>



</figure>

  


</section>






<section>





  
    



<h2 data-block-key="pgn5a">Single leg&nbsp;squat&nbsp;– 3 sets of 5 reps with each leg</h2>

  



  
    












<figure class="nhsuk-image">
<img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_single-legs-bends_1.width-320.jpg" sizes="
(min-width: 1020px) 320px
(min-width: 768px) 50vw
100vw
" srcset="
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_single-legs-bends_1.width-320.jpg 320w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_single-legs-bends_1.width-510.jpg 510w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_single-legs-bends_1.width-640.jpg 640w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_single-legs-bends_1.width-767.jpg 767w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_single-legs-bends_1.width-1019.jpg 1019w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_single-legs-bends_1.width-1125.jpg 1125w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_single-legs-bends_1.width-1534.jpg 1534w,
" alt="Single leg&nbsp;squat starting position">

<figcaption class="nhsuk-image__caption">
Stand with both feet pointing forwards, hip-width apart. Lift your left foot off the ground and balance on your right foot
</figcaption>



</figure>

  



  
    












<figure class="nhsuk-image">
<img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_single-legs-bends_2.width-320.jpg" sizes="
(min-width: 1020px) 320px
(min-width: 768px) 50vw
100vw
" srcset="
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_single-legs-bends_2.width-320.jpg 320w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_single-legs-bends_2.width-510.jpg 510w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_single-legs-bends_2.width-640.jpg 640w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_single-legs-bends_2.width-767.jpg 767w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_single-legs-bends_2.width-1019.jpg 1019w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_single-legs-bends_2.width-1125.jpg 1125w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_single-legs-bends_2.width-1534.jpg 1534w,
" alt="Single leg&nbsp;squat side view">

<figcaption class="nhsuk-image__caption">
Now bend your right leg and slowly lower yourself, making sure your knee does not go past your foot or lean inwards. Push back up slowly to your starting position
</figcaption>



</figure>

  



  
    



<p data-block-key="cl4mt"><b>Tip:</b> if&nbsp;you can perform these confidently, you can progress on to&nbsp;the wide stance single leg squat</p>

  


</section>






<section>





  
    



<h2 data-block-key="g77aq">Wide stance single leg&nbsp;squat – 3 sets of 5 reps with each leg</h2>

  



  
    












<figure class="nhsuk-image">
<img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_wide-stance-leg-squat_1.width-320.jpg" sizes="
(min-width: 1020px) 320px
(min-width: 768px) 50vw
100vw
" srcset="
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_wide-stance-leg-squat_1.width-320.jpg 320w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_wide-stance-leg-squat_1.width-510.jpg 510w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_wide-stance-leg-squat_1.width-640.jpg 640w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_wide-stance-leg-squat_1.width-767.jpg 767w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_wide-stance-leg-squat_1.width-1019.jpg 1019w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_wide-stance-leg-squat_1.width-1125.jpg 1125w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_wide-stance-leg-squat_1.width-1534.jpg 1534w,
" alt="Wide stance single leg&nbsp;squat starting position">

<figcaption class="nhsuk-image__caption">
Stand&nbsp;with your feet pointing&nbsp;slightly outwards. Shift your weight onto your right leg and lift your left foot off the ground
</figcaption>



</figure>

  



  
    












<figure class="nhsuk-image">
<img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_wide-stance-leg-squat_2.width-320.jpg" sizes="
(min-width: 1020px) 320px
(min-width: 768px) 50vw
100vw
" srcset="
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_wide-stance-leg-squat_2.width-320.jpg 320w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_wide-stance-leg-squat_2.width-510.jpg 510w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_wide-stance-leg-squat_2.width-640.jpg 640w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_wide-stance-leg-squat_2.width-767.jpg 767w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_wide-stance-leg-squat_2.width-1019.jpg 1019w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_wide-stance-leg-squat_2.width-1125.jpg 1125w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_wide-stance-leg-squat_2.width-1534.jpg 1534w,
" alt="Wide stance single leg&nbsp;squat side view">

<figcaption class="nhsuk-image__caption">
Now bend your right leg and slowly lower yourself, making sure your right knee points in the same direction as your right foot. Push back up slowly to your starting position, keeping your thigh and buttock muscles tight
</figcaption>



</figure>

  



  
    



<p data-block-key="fm5th"><b>Tip:</b> do not let your knees extend over your toes</p>

  


</section>






<section>





  
    



<h2 data-block-key="dzs1b">Lunges – 3 sets of 5 reps with each leg</h2>

  



  
    












<figure class="nhsuk-image">
<img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_lunge_1.width-320.jpg" sizes="
(min-width: 1020px) 320px
(min-width: 768px) 50vw
100vw
" srcset="
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_lunge_1.width-320.jpg 320w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_lunge_1.width-510.jpg 510w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_lunge_1.width-640.jpg 640w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_lunge_1.width-767.jpg 767w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_lunge_1.width-1019.jpg 1019w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_lunge_1.width-1125.jpg 1125w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_lunge_1.width-1534.jpg 1534w,
" alt="Lunge starting position">

<figcaption class="nhsuk-image__caption">
Stand in a split stance with your right leg forward and left leg back
</figcaption>



</figure>

  



  
    












<figure class="nhsuk-image">
<img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_lunge_2.width-320.jpg" sizes="
(min-width: 1020px) 320px
(min-width: 768px) 50vw
100vw
" srcset="
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_lunge_2.width-320.jpg 320w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_lunge_2.width-510.jpg 510w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_lunge_2.width-640.jpg 640w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_lunge_2.width-767.jpg 767w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_lunge_2.width-1019.jpg 1019w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_lunge_2.width-1125.jpg 1125w,
https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_lunge_2.width-1534.jpg 1534w,
" alt="Lunge lowered position">

<figcaption class="nhsuk-image__caption">
Slowly bend the knees, lowering into a lunge until the right leg is nearly at a right angle. Keeping the weight on your heels, push back up to the starting position. Keep your back straight and do not let your knees extend over your toes
</figcaption>



</figure>

  



  
    



<p data-block-key="5e6oy"><b>Tip:</b> for more of a challenge, perform these lunges while walking</p>

  


</section>






<section>





  
    



<h2 data-block-key="u4yk3">Couch to 5K running plan</h2><p data-block-key="ey3gq">New to running? <a href="/live-well/exerciserunning-and-aerobic-exercises/get-running-with-couch-to-5k/">Couch to 5K</a> gets you off the sofa and running in just 9 weeks.</p><p data-block-key="bh2oc">The One You Couch to 5K app gives you a choice of running coaches and helps you track your progress.</p><p data-block-key="pkovn">As well as Laura, who features on the NHS Couch to 5K podcasts, you can also be coached by celebrities Jo Whiley, Sarah Millican, Sanjeev Kohli or Michael Johnson.</p><ul><li data-block-key="jsdp1"><a href="https://apps.apple.com/gb/app/one-you-couch-to-5k/id1082307672">download the app from the App Store</a></li><li data-block-key="8qmhb"><a href="https://play.google.com/store/apps/details?id=com.phe.couchto5K">download the app from Google Play</a></li></ul>

  


</section>





</div>



</div>
</article>




<aside class="nhsuk-grid-column">
  <div id="sibling-nav" class="beta-hub-sibling-nav nhsuk-u-padding-top-5">
    <h2 class="nhsuk-u-font-size-24 nhsuk-u-padding-bottom-3">
      More in
        <a href="../../exercise">Exercise guidelines</a>
    </h2>

    <h3 class="nhsuk-heading-s">Why exercise is important</h3>
    <nav role="navigation" class="beta-nhsuk-navigation-sideways">
      <ul class="beta-nhsuk-navigation-sideways__list">
        
        <li class="beta-nhsuk-navigation-sideways__item">
          <a href="../exercise-health-benefits">
            Benefits of exercise
          </a>
        </li>

        <li class="beta-nhsuk-navigation-sideways__item">
          <a href="../exercise-guidelines/why-sitting-too-much-is-bad-for-us">
            Why we should sit less
          </a>
        </li>


      </ul>
    </nav>

    <h3 class="nhsuk-heading-s">Exercise guidelines</h3>
    <nav role="navigation" class="beta-nhsuk-navigation-sideways">
      <ul class="beta-nhsuk-navigation-sideways__list">
      
            <li class="beta-nhsuk-navigation-sideways__item">
              <a href="../exercise-guidelines/physical-activity-guidelines-for-adults-aged-19-to-64">
                Physical activity guidelines for adults aged 19 to 64
              </a>
            </li>
          
            <li class="beta-nhsuk-navigation-sideways__item">
              <a href="../exercise-guidelines/physical-activity-guidelines-older-adults">
                Physical activity guidelines for older adults
              </a>
            </li>
                        
            <li class="beta-nhsuk-navigation-sideways__item">
              <a href="../exercise-guidelines/physical-activity-guidelines-children-and-young-people">
                Physical activity guidelines for children and young people
              </a>
            </li>
          
            <li class="beta-nhsuk-navigation-sideways__item">
              <a href="../exercise-guidelines/physical-activity-guidelines-children-under-five-years">
                Physical activity guidelines for children (under 5 years)
              </a>
            </li>
                        
            <li class="beta-nhsuk-navigation-sideways__item">
              <a href="../exercise-guidelines/why-sitting-too-much-is-bad-for-us">
                Why we should sit less
              </a>
            </li>
          
            <li class="beta-nhsuk-navigation-sideways__item">
              <a href="../exercise-guidelines/wheelchair-users-fitness-advice">
                Fitness advice for wheelchair users
              </a>
            </li>
        
      </ul>
    </nav>


    <h3 class="nhsuk-heading-s">Strength and flexibility exercises</h3>
    <nav role="navigation" class="beta-nhsuk-navigation-sideways">
      <ul class="beta-nhsuk-navigation-sideways__list">

      <li class="beta-nhsuk-navigation-sideways__item">
        <a href="../strength-and-flexibility-exercises/how-to-improve-strength-flexibility">
          How to improve your strength and flexibility
        </a>
      </li>

      <li class="beta-nhsuk-navigation-sideways__item">
        <a href="../strength-and-flexibility-exercises/strength-and-flex-exercise-plan-how-to-videos">
          Strength and Flex exercise plan: How-to videos
        </a>
      </li>
    
      <li class="beta-nhsuk-navigation-sideways__item">
        <a href="../strength-and-flexibility-exercises/balance-exercises">
          Balance exercises
        </a>
      </li>

      <li class="beta-nhsuk-navigation-sideways__item">
        <a href="../strength-and-flexibility-exercises/flexibility-exercises">
          Flexibility exercises
        </a>
      </li>
    
      <li class="beta-nhsuk-navigation-sideways__item">
        <a href="../strength-and-flexibility-exercises/sitting-exercises">
          Sitting exercises
        </a>
      </li>
    
      <li class="beta-nhsuk-navigation-sideways__item">
        <a href="../strength-and-flexibility-exercises/strength-exercises">
          Strength exercises
        </a>
      </li>
    
      <li class="beta-nhsuk-navigation-sideways__item">
        <a href="../strength-and-flexibility-exercises/exercises-sciatica-problems">
          Exercises for sciatica problems
        </a>
      </li>

      </ul>
    </nav>

    <h3 class="nhsuk-heading-s">Running and aerobic exercises</h3>
    <nav role="navigation" class="beta-nhsuk-navigation-sideways">
      <ul class="beta-nhsuk-navigation-sideways__list">
    
        <li class="beta-nhsuk-navigation-sideways__item">
          <a href="../running-and-aerobic-exercises/get-running-with-couch-to-5k">
              Get running with Couch to 5K
            </a>
          </li>
          
          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../running-and-aerobic-exercises/walking-for-health">
              Walking for health
            </a>
          </li>
          
          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../running-and-aerobic-exercises/how-to-warm-up-before-exercising">
              How to warm up before exercising
            </a>
          </li>
          
          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../running-and-aerobic-exercises/how-to-stretch-after-exercising">
              How to stretch after exercising
            </a>
          </li>
          
          <li class="beta-nhsuk-navigation-sideways__item is-active" aria-current="true">
              Knee exercises for runners
          </li>
          
          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../running-and-aerobic-exercises/knee-pain-and-other-running-injuries">
              Knee pain and other running injuries
            </a>
          </li>
      </ul>
    </nav>
  </div>
</aside>


<div>
<p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
Page last reviewed: 13 January 2021
<br>
Next review due: 13 January 2024
</p>
</div>




          

{% endblock %}
