<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'template-1.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Running and aerobic exercises
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      
      <li class="nhsuk-breadcrumb__item">
          <a href="/" class="nhsuk-breadcrumb__link">Home</a>
        </li>
        
      <li class="nhsuk-breadcrumb__item">
          <a href="../../live-well" class="nhsuk-breadcrumb__link">Live Well</a>
        </li>
        
      <li class="nhsuk-breadcrumb__item">
          <a href="../exercise" class="nhsuk-breadcrumb__link">Exercise</a>
        </li>
        
      </ol>

      <p class="nhsuk-breadcrumb__back">
        
          <a href="../exercise" class="nhsuk-breadcrumb__backlink">
            <span class="nhsuk-u-visually-hidden">Back to </span>
            Exercise
          </a>
        
      </p>
    </div>
  </nav>
  
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
        

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">

      
  <h1>
    
      Running and aerobic exercises
    
  </h1>
  <p class="nhsuk-lede-text">
    Running and aerobic exercises to help get you moving and improve your fitness.
  </p>


    </div>

    <article>

      

  
  
  
  
  

  
    
      <section class="nhsuk-u-reading-width">
        <ul class="nhsuk-hub-key-links beta-hub-key-links">
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="running-and-aerobic-exercises/get-running-with-couch-to-5k">
                Get running with Couch to 5K
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="running-and-aerobic-exercises/walking-for-health">
                Walking for health
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="running-and-aerobic-exercises/how-to-warm-up-before-exercising">
                How to warm up before exercising
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="running-and-aerobic-exercises/how-to-stretch-after-exercising">
                How to stretch after exercising
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="running-and-aerobic-exercises/knee-exercises-for-runners">
                Knee exercises for runners
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="running-and-aerobic-exercises/knee-pain-and-other-running-injuries">
                Knee pain and other running injuries
              </a>
            </li>
          
        </ul>
      </section>
    
  

  <div class="nhsuk-u-reading-width nhsuk-u-margin-top-6 nhsuk-hub-after-key-links">
    
  </div>

  



    </article>

  </div>
</div>

{% endblock %}
