<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'template-1.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  How to stretch after exercising
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      
      <li class="nhsuk-breadcrumb__item">
          <a href="/" class="nhsuk-breadcrumb__link">Home</a>
        </li>
        
      <li class="nhsuk-breadcrumb__item">
          <a href="../../../live-well" class="nhsuk-breadcrumb__link">Live Well</a>
        </li>
        
      <li class="nhsuk-breadcrumb__item">
          <a href="../exercise-guidelines" class="nhsuk-breadcrumb__link">Exercise</a>
        </li>
        
      <li class="nhsuk-breadcrumb__item">
          <a href="../running-and-aerobic-exercises" class="nhsuk-breadcrumb__link">Running and aerobic exercises</a>
        </li>
        
      </ol>

      <p class="nhsuk-breadcrumb__back">
        
          <a href="../running-and-aerobic-exercises" class="nhsuk-breadcrumb__backlink">
            <span class="nhsuk-u-visually-hidden">Back to </span>
            Running and aerobic exercises
          </a>
        
      </p>
    </div>
</nav>
  
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
        
        
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      
  <h1>
    
      How to stretch after exercising
    
  </h1>


    </div>
  </div>

  <article>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        
  
    


  <section>

    

    
      
        
          



    <p data-block-key="c4waf"><b>Use this routine to cool down after a workout to gradually relax, improve flexibility and slow your heart rate.</b></p><p data-block-key="n47ja">These gentle stretches should take about 5 minutes. Spend more time on&nbsp;them if you feel the need.</p>

        
      
    
  </section>


  
    


  <section>

    
    
      <h2>Buttock stretch – hold for 10 to 15 seconds</h2>
    

    
      
        
          












<figure class="nhsuk-image">
  <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_buttock-stretch_3P2A1639.width-320.jpg" sizes="
      (min-width: 1020px) 320px
      (min-width: 768px) 50vw
      100vw
    " srcset="
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_buttock-stretch_3P2A1639.width-320.jpg 320w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_buttock-stretch_3P2A1639.width-510.jpg 510w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_buttock-stretch_3P2A1639.width-640.jpg 640w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_buttock-stretch_3P2A1639.width-767.jpg 767w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_buttock-stretch_3P2A1639.width-1019.jpg 1019w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_buttock-stretch_3P2A1639.width-1125.jpg 1125w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_buttock-stretch_3P2A1639.width-1534.jpg 1534w,
    " alt="Buttock stretch">
  

  
</figure>

        
      
    
      
        
          



    <p data-block-key="f4gn8">To do a buttock stretch:</p><ol><li data-block-key="xfgi5">Lie on your back and bring your knees up to your chest.</li><li data-block-key="q1ed9">Cross your right leg over your left thigh.</li><li data-block-key="9le3l">Grasp the back of your left&nbsp;thigh with both hands.</li><li data-block-key="2bsyb">Pull your left leg towards your chest.</li><li data-block-key="da9zd">Repeat with the opposite leg.</li></ol>

        
      
    
  </section>


  
    


  <section>

    
    
      <h2>Hamstring stretch – hold for 10 to 15 seconds</h2>
    

    
      
        
          












<figure class="nhsuk-image">
  <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_hamstring-stretch_3P2A1640.width-320.jpg" sizes="
      (min-width: 1020px) 320px
      (min-width: 768px) 50vw
      100vw
    " srcset="
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_hamstring-stretch_3P2A1640.width-320.jpg 320w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_hamstring-stretch_3P2A1640.width-510.jpg 510w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_hamstring-stretch_3P2A1640.width-640.jpg 640w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_hamstring-stretch_3P2A1640.width-767.jpg 767w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_hamstring-stretch_3P2A1640.width-1019.jpg 1019w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_hamstring-stretch_3P2A1640.width-1125.jpg 1125w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_hamstring-stretch_3P2A1640.width-1534.jpg 1534w,
    " alt="Hamstring stretch">
  

  
</figure>

        
      
    
      
        
          



    <p data-block-key="hpulo">To do a hamstring stretch:</p><ol><li data-block-key="f7ksp">Lie on your back and&nbsp;raise your right leg.</li><li data-block-key="yrwp8">Hold your right leg with both hands, below your knee.</li><li data-block-key="2y82f">Keeping your left leg bent with your foot on the floor, pull your right leg towards you keeping it straight.</li><li data-block-key="b6c2b">Repeat with the opposite leg.</li></ol>

        
      
    
  </section>


  
    


  <section>

    
    
      <h2>Inner thigh stretch – hold for 10 to 15 seconds</h2>
    

    
      
        
          












<figure class="nhsuk-image">
  <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_inner-thigh-stretch_3P2A1645.width-320.jpg" sizes="
      (min-width: 1020px) 320px
      (min-width: 768px) 50vw
      100vw
    " srcset="
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_inner-thigh-stretch_3P2A1645.width-320.jpg 320w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_inner-thigh-stretch_3P2A1645.width-510.jpg 510w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_inner-thigh-stretch_3P2A1645.width-640.jpg 640w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_inner-thigh-stretch_3P2A1645.width-767.jpg 767w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_inner-thigh-stretch_3P2A1645.width-1019.jpg 1019w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_inner-thigh-stretch_3P2A1645.width-1125.jpg 1125w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_inner-thigh-stretch_3P2A1645.width-1534.jpg 1534w,
    " alt="Inner thigh stretch">
  

  
</figure>

        
      
    
      
        
          



    <p data-block-key="w7jbz">For the inner thigh stretch:</p><ol><li data-block-key="0ue3x">Sit down with your back straight and your legs bent.</li><li data-block-key="cmxff">Put the soles of your feet together.</li><li data-block-key="o2d03">Holding on to your feet, try to lower your knees towards the floor.</li></ol>

        
      
    
  </section>


  
    


  <section>

    
    
      <h2>Calf stretch –&nbsp;hold for 10 to 15 seconds</h2>
    

    
      
        
          












<figure class="nhsuk-image">
  <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_calf_stretch_1.width-320.jpg" sizes="
      (min-width: 1020px) 320px
      (min-width: 768px) 50vw
      100vw
    " srcset="
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_calf_stretch_1.width-320.jpg 320w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_calf_stretch_1.width-510.jpg 510w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_calf_stretch_1.width-640.jpg 640w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_calf_stretch_1.width-767.jpg 767w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_calf_stretch_1.width-1019.jpg 1019w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_calf_stretch_1.width-1125.jpg 1125w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_calf_stretch_1.width-1534.jpg 1534w,
    " alt="Calf stretch front view">
  

  
</figure>

        
      
    
      
        
          












<figure class="nhsuk-image">
  <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_calf-stretch_2.width-320.jpg" sizes="
      (min-width: 1020px) 320px
      (min-width: 768px) 50vw
      100vw
    " srcset="
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_calf-stretch_2.width-320.jpg 320w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_calf-stretch_2.width-510.jpg 510w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_calf-stretch_2.width-640.jpg 640w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_calf-stretch_2.width-767.jpg 767w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_calf-stretch_2.width-1019.jpg 1019w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_calf-stretch_2.width-1125.jpg 1125w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0118_calf-stretch_2.width-1534.jpg 1534w,
    " alt="Calf stretch side view">
  

  
</figure>

        
      
    
      
        
          



    <p data-block-key="55mtf">For the calf stretch:</p><ol><li data-block-key="vclft">Step your right leg forward, keeping it bent, and lean forwards slightly.</li><li data-block-key="a6rs6">Keep your left leg straight and try to lower the left heel to the ground.</li><li data-block-key="7y31g">Repeat with the opposite leg.</li></ol>

        
      
    
  </section>


  
    


  <section>

    
    
      <h2>Thigh stretch –&nbsp;hold for 10 to 15 seconds</h2>
    

    
      
        
          












<figure class="nhsuk-image">
  <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_thigh-stretch_3P2A1657.width-320.jpg" sizes="
      (min-width: 1020px) 320px
      (min-width: 768px) 50vw
      100vw
    " srcset="
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_thigh-stretch_3P2A1657.width-320.jpg 320w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_thigh-stretch_3P2A1657.width-510.jpg 510w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_thigh-stretch_3P2A1657.width-640.jpg 640w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_thigh-stretch_3P2A1657.width-767.jpg 767w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_thigh-stretch_3P2A1657.width-1019.jpg 1019w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_thigh-stretch_3P2A1657.width-1125.jpg 1125w,
      https://assets.nhs.uk/nhsuk-cms/images/NHSC_0318_thigh-stretch_3P2A1657.width-1534.jpg 1534w,
    " alt="Thigh stretch">
  

  
</figure>

        
      
    
      
        
          



    <p data-block-key="uxk4t">To do a thigh stretch:</p><ol><li data-block-key="ty8z6">Lie on your right side.</li><li data-block-key="14qaa">Grab the top of your left foot and gently pull your heel towards your left buttock to stretch the front of the thigh.</li><li data-block-key="htfmp">Keep your knees touching.</li><li data-block-key="2b3jh">Repeat on the other side.</li></ol>

        
      
    
  </section>


  


      </div>

      

    </div>
  </article>

  

  
    <aside class="nhsuk-grid-column">
      <div id="sibling-nav" class="beta-hub-sibling-nav nhsuk-u-padding-top-5">
        <h2 class="nhsuk-u-font-size-24 nhsuk-u-padding-bottom-3">
          More in
          
          <a href="../../exercise">Exercise</a>
          
        </h2>

        <h3 class="nhsuk-heading-s">Running and aerobic exercises</h3>
        <nav role="navigation" class="beta-nhsuk-navigation-sideways">
          <ul class="beta-nhsuk-navigation-sideways__list">
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="get-running-with-couch-to-5k">
                    Get running with Couch to 5K
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="hwalking-for-health">
                    Walking for health
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="how-to-warm-up-before-exercising">
                    How to warm up before exercising
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item is-active" aria-current="true">
                  How to stretch after exercising
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="knee-exercises-for-runners">
                    Knee exercises for runners
                  </a>
                </li>
              
            
              
                <li class="beta-nhsuk-navigation-sideways__item">
                  <a href="knee-pain-and-other-running-injuries">
                    Knee pain and other running injuries
                  </a>
                </li>
              
            
          </ul>
        </nav>
      </div>
    </aside>
  

  <div>
    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
      Page last reviewed: 8 July 2022
      <br>
      Next review due: 8 July 2025
    </p>
  </div>

  
          

{% endblock %}
