<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'template-1.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  The flu jab in pregnancy
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      
      <li class="nhsuk-breadcrumb__item">
        <a href="/" class="nhsuk-breadcrumb__link">Home</a>
      </li>
        
      <li class="nhsuk-breadcrumb__item">
        <a href="../../../pregnancy" class="nhsuk-breadcrumb__link">Pregnancy</a>
        </li>
        
      <li class="nhsuk-breadcrumb__item">
        <a href="../../keeping-well" class="nhsuk-breadcrumb__link">Keeping well in pregnancy</a>
      </li>
        
      </ol>
      
      <p class="nhsuk-breadcrumb__back">
        
        <a href="../../keeping-well" class="nhsuk-breadcrumb__backlink">
          <span class="nhsuk-u-visually-hidden">Back to </span>
          Keeping well in pregnancy
        </a>
      
      </p>
    </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
        
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      
  <h1>
    
      The flu jab in pregnancy
    
  </h1>


    </div>
  </div>

  <article>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        
  
    


  <section>

    

    
      
        
          



    <p data-block-key="j6917">It's recommended that all pregnant women have the flu vaccine, whatever stage of pregnancy they're at. It's free for pregnant women.</p>

        
      
    
  </section>


  
    


  <section>

    
    
      <h2>Why are pregnant women advised to have the flu vaccine?</h2>
    

    
      
        
          



    <p data-block-key="d6ywg">A flu jab will help&nbsp;protect both you and your baby.</p><p data-block-key="qdpjs">There is good evidence that pregnant women have a higher chance&nbsp;of developing complications if they get flu, particularly in the later stages of pregnancy.</p><p data-block-key="dmb1o">Pregnancy changes how the body responds to infections such as flu. Having flu increases the chances of pregnant women and their babies needing intensive care.</p><p data-block-key="u08r8">One of the most common complications of flu is <a href="/conditions/bronchitis/">bronchitis</a>, a chest infection that can become serious and develop into <a href="/conditions/pneumonia/">pneumonia</a>.</p><p data-block-key="8yvm6">If&nbsp;you have&nbsp;flu&nbsp;while you're pregnant, it&nbsp;could cause&nbsp;your baby to be born prematurely or have a low birthweight, and&nbsp;may even lead to <a href="/conditions/stillbirth/">stillbirth</a> or death.</p>

        
      
    
  </section>


  
    


  <section>

    
    
      <h2>Is the flu vaccine&nbsp;safe in pregnancy?</h2>
    

    
      
        
          



    <p data-block-key="8etu0">Yes. Studies have shown that it's safe to have&nbsp;a flu vaccine&nbsp;during any stage of pregnancy, from the first few weeks up to your expected due date.</p><p data-block-key="mzvti">Women who have had a flu vaccine while pregnant also pass some protection on to their babies, which lasts for the first few months of their lives.</p><p data-block-key="ytdxw">It's safe for women&nbsp;who are <a href="/conditions/baby/breastfeeding-and-bottle-feeding/">breastfeeding</a>&nbsp;to have a flu vaccine if they're eligible (for example, because of a long-term health condition).</p>

        
      
    
  </section>


  
    


  <section>

    
    
      <h2>When should I have the flu jab?</h2>
    

    
      
        
          



    <p data-block-key="citg5">The best time to have a flu vaccine is in the autumn, before flu starts circulating.</p><p data-block-key="4p2je">If you've missed this time, you can be vaccinated later in the winter although it's better to get it earlier.</p><p data-block-key="um149">Do not worry if you&nbsp;find that you're&nbsp;pregnant later in the flu season –&nbsp;you can have the vaccine then if you have not already had it.</p>

        
      
    
  </section>


  
    


  <section>

    
    
      <h2>How&nbsp;do I get the flu vaccine?</h2>
    

    
      
        
          



    <p data-block-key="73h7v">To get a flu vaccine you can:</p><ul><li data-block-key="5nkp6">contact your GP surgery to book an appointment</li><li data-block-key="9rfi8"><a href="/nhs-services/prescriptions-and-pharmacies/pharmacy-nhs-flu-vaccine-service/">find a pharmacy that offers NHS flu vaccination</a> (if you're aged 18 or over)</li><li data-block-key="fj5cg"><a href="/conditions/vaccinationsbook-flu-vaccination/">book a flu vaccination appointment online</a> or in the <a href="/nhs-app/">NHS App</a> (if you're aged 18 or over)</li><li data-block-key="ej2rp">contact your midwife – in some areas you may be able to get a flu vaccine through a maternity service</li></ul>

        
      
    
  </section>


  
    


  <section>

    
    
      <h2>If I had the flu jab&nbsp;last year, do I need to have it again now?</h2>
    

    
      
        
          



    <p data-block-key="l86ph">Yes, because the viruses that cause flu change every year. This means the flu strains the vaccines are designed to prevent this year may be different from last year. The protection from a flu vaccine also goes down with time.</p><p data-block-key="13oj5">If you had the flu vaccine during the last flu season because you were pregnant (same pregnancy or a previous pregnancy), or because you're in a vulnerable group, you&nbsp;need to&nbsp;have it again this year.</p>

        
      
    
  </section>


  
    


  <section>

    
    
      <h2>Will the flu jab&nbsp;give me flu?</h2>
    

    
      
        
          



    <p data-block-key="saz0f">No. Injected flu vaccines do not contain any live viruses, and cannot cause flu. Some people get a slightly raised temperature and aching muscles for a couple of days afterwards, and you may feel sore at the injection site.</p>

        
      
    
  </section>


  
    


  <section>

    
    
      <h2>Can I have the flu jab at the same time as the&nbsp;whooping cough vaccine?</h2>
    

    
      
        
          



    <p data-block-key="yx9pd">Yes, you can have a flu vaccine&nbsp;at the same time as&nbsp;the whooping cough vaccine, but do not&nbsp;delay your flu jab&nbsp;so you can have both at the same time.</p><p data-block-key="5eg04">Pregnant women are at risk of severe illness from flu at any stage of pregnancy, so you need to&nbsp;have a flu vaccine as soon as possible.</p><p data-block-key="3zus4">The best&nbsp;time to get vaccinated against <a href="/conditions/whooping-cough/">whooping cough</a> is from&nbsp;16&nbsp;weeks up to 32 weeks of pregnancy.&nbsp;</p><p data-block-key="92fyu">If you miss having the vaccine for any reason, you can still have it up until you go into labour.</p><p data-block-key="dikni">Find out more about the <a href="/pregnancy/keeping-well/whooping-cough-vaccination">whooping cough vaccine in pregnancy</a>.</p>

        
      
    
  </section>


  
    


  <section>

    
    
      <h2>I'm&nbsp;pregnant and think I have flu. What should I do?</h2>
    

    
      
        
          



    <p data-block-key="3oqzd">Talk to a GP as soon as possible. If you do have flu, there's a prescribed medicine you can take that might help, or reduce your risk of complications, but it needs to be taken very soon after symptoms appear.</p>

        
      
    
  </section>


  
    


  <section>

    
    
      <h2>More information</h2>
    

    
      
        
          



    <ul><li data-block-key="jah1b"><a href="https://www.gov.uk/government/publications/pregnancy-how-to-help-protect-you-and-your-baby">GOV.UK: vaccines to protect you and your baby during and after pregnancy</a></li></ul>

        
      
    
  </section>


  


      </div>

      

    </div>
  </article>

  
  <aside class="nhsuk-grid-column">
    <div id="sibling-nav" class="beta-hub-sibling-nav nhsuk-u-padding-top-5">
      <h2 class="nhsuk-u-font-size-24 nhsuk-u-padding-bottom-3">
        More in
          <a href="../../keeping-well">Keeping well in pregnancy</a>
      </h2>

      <h3 class="nhsuk-heading-s">Diet and exercise</h3>
      <nav role="navigation" class="beta-nhsuk-navigation-sideways">
        <ul class="beta-nhsuk-navigation-sideways__list">
          
              <li class="beta-nhsuk-navigation-sideways__item">
                <a href="have-a-healthy-diet">
                  Have a healthy diet in pregnancy
                </a>
              </li>
 
              <li class="beta-nhsuk-navigation-sideways__item">
                <a href="vegetarian-or-vegan-and-pregnant">
                  Vegetarian or vegan and pregnant
                </a>
              </li>
            
              <li class="beta-nhsuk-navigation-sideways__item">
                <a href="foods-to-avoid">
                  Foods to avoid in pregnancy
                </a>
              </li>

              <li class="beta-nhsuk-navigation-sideways__item">
                <a href="vitamins-supplements-and-nutrition">
                  Vitamins, supplements and nutrition in pregnancy
                </a>
              </li>
            
                

              <li class="beta-nhsuk-navigation-sideways__item">
                <a href="../diet-and-exercise/exercise">
                  Exercise in pregnancy
                </a>
              </li>
            
        </ul>
      </nav>

      <h3 class="nhsuk-heading-s">Mental health</h3>
      <nav role="navigation" class="beta-nhsuk-navigation-sideways">
        <ul class="beta-nhsuk-navigation-sideways__list">
        
          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../mental-health/mental-health">
              Mental health in pregnancy
            </a>
          </li>
            
          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../mental-health/depression">
              Depression in pregnancy
            </a>
          </li>
            
        </ul>
      </nav>

      <h3 class="nhsuk-heading-s">Lifestyle changes</h3>
      <nav role="navigation" class="beta-nhsuk-navigation-sideways">
        <ul class="beta-nhsuk-navigation-sideways__list">
        
          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../lifestyle-changes/sex">
              Sex in pregnancy
            </a>
          </li>
        
          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../lifestyle-changes/travelling">
              Travelling in pregnancy
            </a>
          </li>
        
          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../lifestyle-changes/your-health-at-work">
              Work and pregnancy
            </a>
          </li>

          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../lifestyle-changes/drinking-alcohol-while-pregnant">
              Drinking alcohol while pregnant
            </a>
          </li>
          

          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../lifestyle-changes/stop-smoking">
              Stop smoking in pregnancy
            </a>
          </li>

          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../lifestyle-changes/illegal-drugs">
              Illegal drugs in pregnancy
            </a>
          </li>
            
        </ul>
      </nav>

      <h3 class="nhsuk-heading-s">Looking after your baby</h3>
      <nav role="navigation" class="beta-nhsuk-navigation-sideways">
        <ul class="beta-nhsuk-navigation-sideways__list">
        
          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../looking-after-your-baby/your-babys-movements">
              Your baby's movements
            </a>
          </li>
            
          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../looking-after-your-baby/reducing-the-risk-of-stillbirth">
              Reducing the risk of stillbirth
            </a>
          </li>

        </ul>
      </nav>

      <h3 class="nhsuk-heading-s">Infections and illnesses</h3>
      <nav role="navigation" class="beta-nhsuk-navigation-sideways">
        <ul class="beta-nhsuk-navigation-sideways__list">
        
          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../infections-and-illnesses/pregnancy-and-covid-19">
              Pregnancy and coronavirus (COVID-19)
            </a>
          </li>

          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="../infections-and-illnesses/infections-that-may-affect-your-baby">
              Infections in pregnancy that may affect your baby
            </a>
          </li>
            
        </ul>
      </nav>

      <h3 class="nhsuk-heading-s">Medicines and vaccinations</h3>
      <nav role="navigation" class="beta-nhsuk-navigation-sideways">
        <ul class="beta-nhsuk-navigation-sideways__list">
        
          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="medicines">
              Medicines in pregnancy
            </a>
          </li>
        
          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="vaccinations">
              Vaccinations in pregnancy
            </a>
          </li>
      
          <li class="beta-nhsuk-navigation-sideways__item is-active" aria-current="true">
              The flu jab in pregnancy
          </li>

          <li class="beta-nhsuk-navigation-sideways__item">
            <a href="whooping-cough-vaccination">
              Whooping cough vaccination in pregnancy
            </a>
          </li>
        </ul>
      </nav>

    </div>
  </aside>

  <div>
    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
      Page last reviewed: 5 September 2022
      <br>
      Next review due: 5 September 2025
    </p>
  </div>

{% endblock %}
