<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS Sideways navigation
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        NHS Sideways navigation
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->


      <h2>Option 1 - As is</h2>

      <ul>
        <li>
          <a href="option1/pregnancy">Pregnancy hub</a>
        </li>
        <li>
          <a href="option1/pregnancy/keeping-well">Keeping well in pregnancy (Sub hub)</a>
        </li>

        <br>

        <li>
          <a href="option1/live-well">Live Well (Hub)</a>
        </li>
        <li>
          <a href="option1/live-well/exercise">Exercise (Sub hub)</a>
        </li>
      </ul>

      <h2>Option 2 - Exhaustive list</h2>
      <p>Group links under headings in the sideways navigation and provide all the links in the sideways nav which are on the sub topic page</p>
      <ul>
        <li>
          <a href="option2/pregnancy">Pregnancy hub</a>
        </li>
        <li>
          <a href="option2/pregnancy/keeping-well">Keeping well in pregnancy (Sub hub)</a>
        </li>
        <br>
        <li>
          <a href="option2/live-well">Live Well (Hub)</a>
        </li>
        <li>
          <a href="option2/live-well/exercise">Exercise (Sub hub)</a>
        </li>
      </ul>

      <h2>Option 3 - Relevant section only</h2>
      <p>Only show the links from the relevant section in the sideways navigation, whilst still providing a link back to the main sub topic page</p>
      <ul>
        <li>
          <a href="option3/pregnancy">Pregnancy hub</a>
        </li>
        <li>
          <a href="option3/pregnancy/keeping-well">Keeping well in pregnancy (Sub hub)</a>
        </li>
        <br>
        <li>
          <a href="option3/live-well">Live Well (Hub)</a>
        </li>
        <li>
          <a href="option3/live-well/exercise">Exercise (Sub hub)</a>
        </li>
      </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
